.form-align {
  display: flex;
  justify-content: center;
  font-family: "Kanit", sans-serif;
}
.form-heading {
  font-family: "Kanit", sans-serif;
}
.form-button {
  background-color: #a0d0f6;
}
.form-button:hover {
  background-color: #a0d0f6;
  transform: scale(1.03);
  -webkit-transition: transform 0.1s ease-in-out;
}
.form-button:active {
  background-color: #a0d0f6 !important;
  border: none;
}
